@import "../../../../../styles.scss";

.node {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  font-size: 20px;
  padding: 4px;
}

.node.selected {
  background-color: $accent;
  border-radius: 4px;
}
